/diabetes_paper_fazakis.csv
/fazakis.py
/Finaldata.csv
/LeicLog.csv
/processed.csv
/skf.py
/__pycache__
/NBayes.csv
/NBayes.ipynb
/NaiveBayes.csv
/diabetes_paper_fazakis.arff
/FINDLog.csv
younden=f(thr).png
first.svg
output.png
tree_aucs.png
tree2.dot
tree3.png
tree.dot
output.svg
