/fz/diabetes_paper_fazakis.csv
/fz/Finaldata.csv
/fz/LeicLog.csv
/fz/processed.csv
/__pycache__
/fz/NBayes.csv
/fz/NBayes.ipynb
/fz/NaiveBayes.csv
/diabetes_paper_fazakis.arff
/fz/FINDLog.csv
/fz/younden=f(thr).png
/fz/first.svg
/fz/output.png
/fz/tree_aucs.png
/fz/tree2.dot
/fz/output.svg
/fz/tree4.png
/fz/all.csv
